<%# 先移除被删除的单词项 %>
<%= turbo_stream.remove "favorite_word_#{params[:id]}" %>

<%# 检查是否还有其他收藏，如果没有则更新显示空状态 %>
<% if Current.user.favorites.empty? %>
  <%= turbo_stream.update "favorites_content" do %>
    <div class="text-center py-12">
      <svg class="w-16 h-16 mx-auto text-gray-400 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
      </svg>
      <p class="text-gray-500 dark:text-gray-400">还没有收藏任何单词</p>
    </div>
  <% end %>
<% end %>