default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      threads: 3
      processes: <%= ENV.fetch("JOB_CONCURRENCY", 1) %>
      polling_interval: 0.1
      cron:
        - name: "summary_job"
          cron: "5 * * * *"
          class: "RailsPulse::SummaryJob"
          args: []
        - name: "cleanup_job"
          cron: "0 1 * * *"
          class: "RailsPulse::CleanupJob"
          args: []

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
